<script>
  function openChat(){
    window.open("/#/chat?page=home", "_blank", "toolbar=yes,scrollbars=yes,resizable=0,top=500,left=500,width=760,height=600");
  }
</script>
<style>
#header, .top-nav, .top-banner, #footer-con, #footer{
  display:none;
}
img{
  cursor:pointer;
}
</style>

<img onclick="openChat()" style="width:100%;" src="../../home-background.png"/>
<a href="/#/buytv"><button type="button" class="analytics-btn btn btn-info filter-button" style="background-color: #003b64; position: absolute; top: 500px; left: 350px; font-style:bold;">Buy a TV</button></a>
