<head>
  <script>
  // document.getElementsByClassName('repayment-notice')[0].style.display = "none";
  document.getElementsByClassName('top-nav')[0].style.display = "none";
  document.getElementsByClassName('navbar')[0].style.display = "none";
  // document.getElementsByClassName('header-container')[0].style.display = "none";
  // document.getElementsByClassName('introductory-text-section')[0].style.display = "none";
  // document.getElementById('chat-anchor').style.marginTop = '20%';
  document.getElementById('footer-con').style.display= 'none';
  </script>
  <!-- <script src="https://sdk.yoti.com/clients/browser.js"></script> -->
  <!-- <script src="./verify.js"></script> -->
  <!-- <meta name="yoti-site-verification" content="f84abd60027cb03c" /> -->
</head>

<body>
  <div id="alexa-yoti">
  <span data-yoti-application-id="d4c16b5e-4403-4528-ab2c-93cd9ad8614f">
  Verified with Yoti!
  </span>
  <script>
      _ybg.config.service = 'https://www.yoti.com/connect/'
      _ybg.init()
  </script>

  </div>
</body>
